#app {
  display: flex;
}
.recipe-item:hover {
  cursor: pointer;
  color: red;
}
#edit-recipe {
  display: none;
}

#edit-recipe h2 {
  margin-left: 150px;
}

#view-recipe {
  display: none;
}
.rectangle-box {
  border: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
  /* margin-left: 5px; */
  margin-right: 5px;
  margin-left: 150px;
  width: 500px;
  height: 450px;
}
#edit-recipe-form .rectangle-box {
  height: 350px;
}
#edit-recipe-form .edit-recipe-submit-button {
  margin-left: 150px;
}
.rectangle-box .edit-recipe-button {
  margin-left: 150px;
}
footer {
  padding: 10px 20px;
  background: #666;
  color: white;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
#create-recipe-form {
  width: 500px;
  clear: both;
}

#create-recipe-form .input-element {
  width: 100%;
  clear: both;
  margin-bottom: 15px;
}
