#app {
  display: flex;
}
.recipe-item:hover {
  cursor: pointer;
  color: red;
}
#edit-recipe {
  display: none;
}

#view-recipe {
  border: 1px solid black;
  display: none;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
